
body{
    font-size:24px;
    overflow-x: hidden;
}

/* #grad1{
    height: 600px;
    background-color: red; For browsers that do not support gradients
    background-image: linear-gradient(rgb(4, 39, 92), rgb(59, 124, 197)); 
    width:100vw;
    height:100vh;
   }  */

#logo{
    position:absolute;
    width:72px;
    top:7px;
    left:5px;
}

#abc{
    font-size: 28px;
    text-align: center;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.form{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.map{
    width: 91%;
    margin: 10px;
    height: 300px;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.contacts{
    /* width: 286px; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* #buttton{
   margin-left: 90px;
} */
#imag{
    top:320px;
    left:0px;
    position:absolute;
}

.shad{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#ab{
    font-size:28px;
}

#info{
    font-size:18px;
}

.DW{
    /* background-color: black; */
    top:550px;
    /* left:10px; */
    width: 100vw;
    position: relative;
    
}
.grad1{
    height: 920px;
}

.bgrnd{
    left:-25px;
    background-color: black;
}

#dwnldbuilding{
    position: absolute;
    top:85px;
    left:1px;
    width:264px
}

#dwnldbuild{
    /* background-color: black; */
    width:100vw;
    position:absolute;  
}
#dwnldicon{
    
    position: relative;
    left:75%;
    width:100px;
}

#dwnldtxt{
    /* font-size: 45px; */
    color: white;
    position: relative;
    left:35%;
    text-align: right;
    width:484px;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 320px) {
    #imag{
        top:554px;
        left:0px;
        position:absolute;
    }
  }

  @media only screen and (max-width: 320px) {
    .bgrnd{
        left:0px;
        background-color: black;
    }
  }
  
  @media only screen and (max-width: 320px) {
    #dwnldtxt{
        top:10px;
        font-size: 25px;
        color: white;
        position: relative;
        left:32%;
        text-align: right;
        width:200px;
        font-family: 'Ubuntu', sans-serif;
    }
  }

  @media only screen and (max-width: 320px) {
    #dwnldicon{
    
        position: relative;
        top:-16px;
        left:65%;
        width:70px;
    }
  }
<<<<<<< HEAD



=======
.grad1{
    height: 920px;
}

#introheadtext{
    font-family: 'Ubuntu', sans-serif;
}

#introtext{
    font-family: 'Ubuntu', sans-serif;
}

#footer{
    font-family: 'Ubuntu', sans-serif;
}
>>>>>>> 3b96023bcf8a64255ab283c804c4de1d741390bf
